.utw-code {
  background-color: $color__primary--light;
  border-radius: 0.4em;
  color: $color__white;
  display: inline-block;
  padding: 0.25em;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
